<footer class="bg-slate-900 dark:bg-darkmode-theme-light">
  <div class="container">
    <div class="items-center py-10 row">
      <div class="mb-8 text-center lg:col-3 lg:mb-0 lg:text-left">
        <!-- navbar brand/logo -->
        <a
          class="inline-block navbar-brand"
          href="{{ site.Home.RelPermalink }}">
          {{ partial "logo" }}
        </a>
      </div>
      <div class="mb-8 text-center lg:col-6 lg:mb-0">
        <ul>
          {{ range site.Menus.footer }}
            <li class="inline-block m-3 ">
              <a
                {{ if findRE `^http` .URL }}
                  rel="noopener"
                {{ end }}
                href="{{ if findRE `^#` .URL }}
                  {{ if not $.IsHome }}
                    {{ site.Home.RelPermalink }}
                  {{ end }}{{ .URL }}
                {{ else }}
                  {{ .URL | relLangURL }}
                {{ end }}"
                >{{ .Name }}</a
              >
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="mb-8 text-center lg:col-3 lg:mb-0 lg:mt-0 lg:text-right">
        <ul class="social-icons">
          {{ range site.Data.social.main }}
            <li>
              <a
                aria-label="{{ .name }}"
                rel="nofollow noopener"
                href="{{ .link | safeURL }}">
                <i class="{{ .icon }}"></i>
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  <div class="py-4 bg-slate-950">
    <div class="container font-light text-center text-slate-50 dark:text-darkmode-light">
      <p>
        {{ site.Params.copyright | markdownify }}
      </p>
    </div>
  </div>
</footer>
