.notice {
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  padding: 1.5rem;
}

.notice-head {
  display: flex;
  align-items: center;
}

.notice-head svg {
  margin-right: 0.75rem;
}

.notice-head p {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1f2937;
  margin: 0;
  line-height: 1;
}

.notice-body {
  margin-top: 0.75rem;
}

.notice-body p {
  margin: 0;
}

.notice.note {
  color: #1b83e2;
  border-color: currentColor;
}

.notice.tip {
  color: #40d294;
  border-color: currentColor;
}

.notice.info {
  color: #e3a72c;
  border-color: currentColor;
}

.notice.warning {
  color: #db2c23;
  border-color: currentColor;
}

// darkmode
.dark .notice-head p {
  color: #d1d5db;
}
