/* swiper pagination */
.swiper-pagination-bullet {
  @apply !h-2.5 !w-2.5 !bg-theme-light !opacity-100 dark:!bg-darkmode-theme-light;
}

.swiper-pagination-bullet-active {
  @apply !h-4 !w-4 !bg-primary dark:!bg-darkmode-primary;
}
