{{ define "main" }}
<section class="section-sm dark-bg">
    <div class="container">
        <div class="justify-center row">
            <div class="md:col-10 lg:col-7">
                {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "mx-auto mb-6" "Size" "200x200") }}
                <h1 class="mb-6 text-center text-slate-50">{{ .Title }}</h1>
                <p class="text-center text-slate-50">{{ .Description }}</p>
            </div>
        </div>
    </div>
</section>

<!-- Shape divider -->
{{ partial "components/shape-divider-dark.html" . }}
<!-- /Shape divider -->


<!-- Eras -->
<section>
    {{ range $i, $e := .Params.eras }}

    <section class="section-sm py-20 {{ if (modBool $i 2) }}light-bg{{else}}dark-bg{{ end }}">
        <div class="container">
            <div class="justify-between md:justify-center row lg:gap-x-8">
                <div class="mb:md-0 {{ if not (modBool $i 2) }}
                    md:order-2
                    {{ end }} md:col-5 mb-6">
                    {{ partial "image" (dict "Src" .image "Alt" .alt "Class" "rounded-lg" "DisplayXL"
                    "520x" "DisplayLG"
                    "425x" "DisplayMD" "360x") }}
                    <figcaption class="px-6 mt-2 text-center {{ if not (modBool $i 2) }}
                        text-slate-50
                        {{ end }} "> {{ .caption | markdownify }} </figcaption>
                </div>
                <div class="{{ if not (modBool $i 2) }}
                    md:order-1
                    {{ end }} md:col-7 lg:col-6">
                    <h2 class="mb-4 {{ if not (modBool $i 2) }}
                        text-slate-50
                        {{ end }} ">
                        {{ .title | markdownify }}
                    </h2>
                    <p class="mb-8 {{ if not (modBool $i 2) }}
                        text-slate-50
                        {{ end }} ">
                        {{ .content | markdownify }}
                    </p>
                    <!-- Long text field with markdown -->
                    <div class="mb-8 {{ if not (modBool $i 2) }}
                        text-slate-50
                        {{ end }} ">
                        {{ range $j, $paragraph := split .long_text "\n" }}
                        <p class="mb-4{{ if eq $j 0 }} mt-0{{ end }}">{{ $paragraph | markdownify }}</p>
                        {{ end }}
                    </div>
                    {{ with .button }}
                    {{ if .enable }}
                    <a class="mt-6 btn btn-primary" href="{{ .link | absURL }}">
                        {{ .label }}
                        <i class="pl-2 fa fa-arrow-right"></i>
                    </a>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </section>
    {{ end }}
</section>
{{ end }}