{{ with site.GetPage "sections/services" }}
<section class="pt-10 section-sm light-bg xl:pt-0">
    <div class="container pb-10">
        <div class="justify-center row">
            <div class="text-center md:col-10 lg:col-7">
                <h2 class="mb-4">
                    {{ .Title | markdownify }}
                </h2>
            </div>
            <div class="text-center md:col-10 lg:col-7">
                <div class="content">{{ .Content }}</div>
            </div>
        </div>
    </div>

    <div class="container flex flex-row flex-wrap justify-center gap-x-8 gap-y-8">
        {{ range .Params.columns }}
        <div class="flex flex-col expertise-box">
            <div class="flex flex-col items-center gap-y-6">
                <div class="text-dark dark:text-white">
                    {{ partial "image" (dict "Src" .icon "Size" "50x50" "Class" "" "Alt" "") }}
                </div>
                <h3 class="font-semibold h5 font-primary">
                    {{ .title }}
                </h3>
            </div>
            <div class="p-4 pt-6">
                {{ range $j, $paragraph := split .content "\n" }}
                <p class="mb-4{{ if eq $j 0 }} mt-0{{ end }}">{{ $paragraph | markdownify }}</p>
                {{ end }}
            </div>
            <div class="px-4 mt-auto">
                {{ with .button }}
                {{ if .enable }}
                <div class="flex flex-col flex-wrap max-w-full gap-y-4">
                    <a class="btn btn-primary" href="{{ .link | absURL }}" {{ if strings.HasPrefix .link `http` }}
                        rel="noopener" {{ end }}>
                        {{ .label }}
                    </a>
                    {{ end }}
                    {{ end }}
                    {{ with .secondButton }}
                    {{ if .enable }}
                    <a class="btn btn-secondary" href="{{ .link | absURL }}" {{ if strings.HasPrefix .link `http` }}
                        rel="noopener" {{ end }}>
                        {{ .label }}
                    </a>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}