{{ define "main" }}
  <section class="text-center section-sm">
    <div class="container">
      <div class="justify-center row">
        <div class="sm:col-10 md:col-8 lg:col-6">
          <span
            class="text-[8rem] block font-bold text-dark dark:text-darkmode-dark">
            404
          </span>
          <h1 class="mb-4 h2">Oops,</h1>
          <div class="content">
            <p>
              it seems like you dropped a stitch. No worries, just try again, or <a
              href="/contact"
              class="">Contact Me</a>.
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </section>
{{ end }}