{{ define "main" }}
<!-- Banner -->
{{ with .Params.banner }}
<section class="section dark-bg">
  <div class="container">
    <div class="flex flex-col md:flex-row md:justify-between lg:px-0 md:gap-x-8">
      <div class="flex flex-col mb-8 text-center md:text-left gap-y-2">
        <h1 class="tracking-wide text-h3 lg:text-h1 text-slate-50">
          {{ .title | markdownify }}
        </h1>
        <div class="mb-8 text-slate-500">
          <p class="italic tracking-wider text-h3 lg:text-h2">
            {{ .phonetics | markdownify }}
          </p>
        </div>
        <div class="text-lg text-slate-50">
          {{ range $j, $paragraph := split .intro "\n" }}
          <p class="lg:pr-8 mb-6{{ if eq $j 0 }} mt-0{{ end }}">{{ $paragraph | markdownify }}</p>
          {{ end }}
        </div>
        {{ with .button }}
        {{ if .enable }}
        <div class="flex flex-row justify-center md:justify-start">
          <a class="btn btn-primary" href="{{ .link | absURL }}" {{ if strings.HasPrefix .link `http` }} 
            rel="noopener" {{ end }}>
            {{ .label }}
          </a>
        {{ end }}
        {{ end }}
        {{ with .secondButton }}
        {{ if .enable }}
          <a class="btn btn-secondary" href="{{ .link | absURL }}" {{ if strings.HasPrefix .link `http` }}
            rel="noopener" {{ end }}>
            {{ .label }}
          </a>
        {{ end }}
        {{ end }}
        </div>
      </div>
      <div class="xl:pl-10">
        {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "rounded-lg") }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Banner -->

<!-- Shape divider -->
{{ partial "components/shape-divider-dark.html" . }}
<!-- /Shape divider -->

<!-- Expertise -->
{{ with site.GetPage "sections/expertise" }}
{{ if .Params.enable }}
<section class="pt-10 pb-20 section light-bg xl:pt-0">
  <div class="container">
    <div class="row">
      <div class="mx-auto mb-12 text-center md:col-10 lg:col-8 xl:col-6">
        <h2 class="mb-4">
          {{ .Title | markdownify }}
        </h2>
        <p>
          {{ .Params.description | markdownify }}
        </p>
      </div>
    </div>
  </div>

  <div class="container flex flex-row flex-wrap justify-center gap-x-8 gap-y-8">
    {{ range .Params.expertise }}
    <div class="expertise-box">
      <div class="flex flex-row items-center ml-4 gap-x-4">
        <div class="text-dark dark:text-white">
          {{ partial "image" (dict "Src" .icon "Size" "50x50" "Class" "" "Alt" .keyword) }}
        </div>
        <h3 class="font-semibold h5 font-primary">
          {{ .keyword }}
        </h3>
      </div>
      <div class="p-4">
        {{ .content | markdownify }}
      </div>
    </div>

    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Expertise -->

<!-- Newsletter promo -->
{{ partial "newsletter-promo.html" . }}
<!-- /Newsletter promo -->

<!-- Testimonials -->
{{ partial "testimonials.html" . }}
<!-- /Testimonials -->

<!-- Shape divider -->
{{ partial "components/shape-divider-light.html" . }}
<!-- /Shape divider -->

<!-- Manticore promo -->
{{ partial "manticore-promo.html" . }}
<!-- /Manticore promo -->


<!-- Modal partial -->
{{ partial "newsletter-modal.html" . }}

{{ end }}
